* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: unset;
}

ul {
    list-style: none;
    padding: unset;
    margin: unset;
}

body {
    --primary-color: #111;
    --brand-color: #FFBD27;
    --secondary-color: #021523;
    --color-transtion: color 0.25s ease-out;
    margin: 0;
    font-family: "Jost", sans-serif;
    letter-spacing: 0.5px;
}

.overlay {
    display: none;
    background-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    inset: 0;
    z-index: 1;
}

.overlay.active {
    display: unset;
}

.move-to-top {
    height: 2.7rem;
    width: 2.7rem;
    background-color: var(--brand-color);
    color: #ffffff;
    display: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 100%;
    position: fixed;
    bottom: 100px;
    right: 30px;
}

.move-to-top.active {
    display: flex;
}

.top-header {
    text-align: center;
    padding: 0 10px;
    background-color: var(--primary-color);
    color: #ffffff;
    position: relative;
}

.top-header p {
    margin: unset;
    line-height: 45px;
}

.navbar-container {
    padding-bottom: 0.8rem;
    position: sticky;
    width: 100%;
    background-color: #ffffff;
    top: 0;
    z-index: 999;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.main-header {
    padding-block: 12px;
}

.container {
    max-width: 1350px;
    padding: 0 10px;
    margin: 0 auto;
}

.main-header .main-header-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-container {
    min-width: 21%;
    padding-right: 15px;
}

.logo-container img {
    max-width: 250px;
}

.search-container {
    flex-grow: 2;
    display: flex;
    justify-content: center;
}

.search-container.responsive-search {
    margin: 0.5rem 0.5rem 0;
    display: none;
}

.search-container form {
    width: 100%;
    max-width: 790px;
}


form .input-container {
    display: flex;
    border: 1px solid #e7f5ff;
}

.input-container input {
    width: 100%;
    padding: 0.3rem 0.8rem;
    border: none;
    outline: none;
    font-size: 14px;
}

.input-container button {
    margin: 0.3rem;
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: var(--primary-color);
    padding: 0.3rem 0;
    cursor: pointer;
    border-radius: 4px;
}

.input-container button img {
    filter: invert(1);
    width: 1.75rem;
}

.icons-container {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.icons-container button {
    border: none;
    font-size: 1.4rem;
    background-color: unset;
    cursor: pointer;
    transition: var(--color-transtion);
}

.icons-container button:hover {
    color: var(--brand-color);
}

.icons-container .hamburgur-menu {
    display: none;
}

.navbar {
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-color: #EBEBEB;
}

.close-menus {
    display: none;
}

.navbar nav {
    display: flex;
}

.category-menu {
    padding: 9px 16px;
    background-color: var(--brand-color);
    border-radius: 5px;
    color: #ffffff;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.category-hamburger-menu {
    display: inline-flex;
    flex-direction: column;
}

.category-hamburger-menu>* {
    margin: 2px;
    height: 2px;
    background-color: #ffffff;
}

.category-hamburger-menu .top {
    width: 26px;
}

.category-hamburger-menu .mid {
    width: 12px;
}

.category-hamburger-menu .bot {
    width: 18px;
}

.category-menu .cat-text {
    margin-left: 7px;
    font-size: 18px;
    line-height: 25px;
    font-weight: 500;
}

.responsive-menus {
    display: none;
}

.category-section {
    position: relative;
}

.category-list {
    border: 1px solid #f1f1f1;
    background-color: #ffffff;
    max-height: 0;
    position: absolute;
    top: 100%;
    width: 100%;
    overflow-y: scroll;
    transition: max-height 200ms ease-out;
}

.category-list.active {
    max-height: 500px;
}

.category-list::-webkit-scrollbar {
    width: 4px;
}

.category-list::-webkit-scrollbar-track {
    border-radius: 10px;
    background: #eeeeee;
}

.category-list::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #bebbbb
}

.category-list li a {
    display: inline-block;
    padding: 12px 16px;
    font-size: 13px;
    cursor: pointer;
    width: 100%;
    border-bottom: 1px solid #E3E3E3;
}


.category-list li:last-child a {
    border: none;
}

.nav-menus-section {
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.menus-container {
    margin: unset;
    display: flex;
}

.menus-container>* {
    flex-shrink: 0;
}

.menus-container li>a {
    padding: 0 0.75rem;
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
    color: var(--primary-color);
    transition: var(--color-transtion);
}

.menus-container li>a.active,
.menus-container li>a:hover {
    color: var(--brand-color);
}

/* ----------------banner---------------- */

.banner-section {
    margin-top: 3rem;
}

.banner-container {
    display: flex;
    background-color: rgb(208, 210, 223);
    padding: 0 30px;
}

.banner-container>* {
    width: 100%;
}

.banner-container .banner-text {
    align-self: center;
    color: var(--secondary-color);
    padding: 2rem 0;
}

.banner-text h3 {
    background-color: var(--brand-color);
    display: inline-block;
    padding: 0.25rem;
    margin: unset;
    font-size: 11px;
    border-radius: 15px;
    text-transform: uppercase;
}

.banner-text p {
    font-size: 2.25rem;
    font-weight: 400;
    line-height: 1.5;
    margin: unset;
}

.banner-text h2 {
    font-size: 2.625rem;
    line-height: 1.5;
    margin: unset;
}

.banner-text span {
    margin-top: 1rem;
    display: block;
    font-size: 1.125rem;
    line-height: 1.5;
}

.banner-btn {
    margin-top: 1rem;
    display: inline-block;
    padding: 12px 24px;
    background-color: #0070DC;
    border-radius: 50px;
    color: #ffffff;
}

.banner-img-container {
    display: flex;
}


.banner-img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* ---------------main section--------------- */

/* ---------------brands section--------------*/
.brands-section {
    margin-top: 3rem;
}

.brands-section .brands-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 2rem;
}

.brand-img-container {
    margin-inline: 2.5rem;
    text-align: center;
}

/* -------------main section banner------------- */

.main-banner-section {
    margin-top: 3rem;
}

.main-banners-container {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.main-banner-img img {
    height: 100%;
    width: 100%;
}

/* ------------Explore Products------------ */

.explore-products {
    margin-top: 5rem;
}

.explore-products h1 {
    text-align: center;
    font-size: 2.25rem;
    font-weight: 600;
    color: var(--secondary-color);
    margin: 0 0 20px;
}

.cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 230px));
    column-gap: 2.5rem;
    justify-content: center;
    row-gap: 1.5rem;
}

.card {
    cursor: pointer;
    border-radius: 4px;
    padding: 0.5rem;
    text-align: center;
    transition: all 0.25s ease-out;
}

.card:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.card img {
    width: 100%;
}

.card-title {
    margin-block: 0.5rem;
}

.card-bottom {
    padding: 0.5rem 0;
    display: flex;
    gap: 0.5rem;
    justify-content: center;
}

.card-bottom>* {
    flex-shrink: 0;
}

.card-btn {
    padding: 9px 16px;
    background-color: unset;
    border-radius: 4px;
    border: 1px solid var(--brand-color);
    color: var(--brand-color);
    cursor: pointer;
    transition: var(--color-transtion);
    font-size: 13px;
}

.card-btn:hover {
    color: #20C9AE;
}

/* -------------accessories------------- */
.accessories {
    margin-top: 3rem;
    margin-bottom: 5rem;
}

.discount-banner {
    background-color: var(--brand-color);
    display: flex;
    align-items: center;
    padding: 30px;
    margin-block: 10px;
}

.discount-banner>h2 {
    margin-left: auto;
    font-size: 1rem;
    font-style: italic;
    text-decoration: underline;
    color: #0070DC;
    text-transform: uppercase;
}

.discount-banner-text>* {
    color: var(--secondary-color);
}

.discount-banner-text>p {
    font-size: 15px;
    font-weight: 600;
}

.discount-banner-text>span {
    font-size: 13px;
    font-weight: 300;
}

.discount-banner .banner-btn {
    align-self: baseline;
    margin-left: 2rem;
}

.accessories-container {
    padding-block: 10px;
    /* border: 1px solid; */
    display: flex;
}


.left-side-banner {
    padding: 30px;
    background: url("./assets/accerssies-banner.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #bebbbb;
}

.left-side-banner .banner-text>h3 {
    font-size: 13px;
}

.left-side-banner .banner-text>p {
    font-size: 2rem;
}

.left-side-banner .banner-text>h2 {
    font-size: 2.5rem;
}

.left-side-banner .banner-text>span {
    font-size: 15px;
}


.accessories-cards-container.cards-container {
    margin-inline: 2.5rem;
    justify-content: space-between;
    flex-grow: 1;
    grid-template-columns: repeat(3, 230px);
    column-gap: 0.5rem;
}

.facilities-section {
    background-color: #041E42;
    display: flex;
    align-items: center;
    padding: 10px;
}

.facilities-section>* {
    width: 100%;
}

.element-column {
    padding-block: 3rem;
    display: flex;
    gap: 0.5rem;
}

.element-icon {
    color: var(--brand-color);
}

.element-icon i {
    font-size: 2.875rem;
}

.element-column>div h3 {
    margin: unset;
    color: #ffffff;
}

.element-column>div p {
    margin: unset;
    color: #59A5C5;
}