@import url("../base/product.css");

@media (max-width: 768px) {
    .product-details-content {
        flex-direction: column;
    }
}

@media (max-Width: 400px) {

    .add-to-cart-btn,
    .wishlist-btn {
        padding: 0.7rem 0.4rem;
    }
}