.product-details-section {
    margin-top: 4rem;
}

.product-details-content {
    display: flex;
    gap: 2rem;
    align-items: center;
}

.product-details-content>* {
    width: 100%;
}

.product-details-content>*,
.product-image-section>* {
    width: 100%;
}

.product-image-conatiner {
    display: flex;
    overflow: hidden;
}

.product-image-conatiner .product-img {
    width: 100%;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.4s ease-in-out;
}

.product-image-conatiner .product-img img {
    width: 100%;
    max-width: 450px;
}

.images-list {
    display: flex;
    gap: 0.5rem;
    justify-content: space-between;
    padding: 10px;
    width: 100%;

}

.images-list img {
    border: 1px solid rgba(203, 202, 202, 0.8);
    width: 25%;
    max-width: 120px;
    cursor: pointer;
}

.images-list img.active {
    border: 1px solid rgb(100, 161, 205);
}

.translate {
    transform: translateX(-100%);
}

.prodcut-details-text {
    letter-spacing: 0.5px;
}

.prodcut-details-text .product-title {
    font-size: 1.75rem;
    font-weight: 500;
    line-height: 2rem;
    color: #1c1d1e;
    margin: unset;
    padding-bottom: 30px;
}

.prodcut-details-text .description {
    font-size: 1.25rem;
    line-height: 2rem;
    font-weight: 400;
    margin: unset
}

.prodcut-details-text .category,
.product-price,
.availability {
    font-size: 1.25rem;
}

.details-group h3 {
    margin: unset;
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
    text-decoration: underline;
}

.details-group ul li {
    font-size: 1.125rem;
}

.details-group ul li+li {
    margin-top: 0.175rem;
}

.product-price {
    display: inline-block;
    margin-top: 1rem;
}

.quantity-section {
    border: 1px solid;
    height: 3rem;
    display: inline-flex;
    align-items: center;
    border-radius: 5px;
    font-size: 1.5rem;
    font-weight: 400;
    color: #9C9C9C;
    position: relative;
}

.quantity-section.active-before::before {
    content: "Limit is 4";
    position: absolute;
    top: -100%;
    background: #fff;
    color: black;
    border: 1px solid var(--brand-color);
    left: 50%;
    transform: translateX(-50%);
    width: max-content;
    padding: 4px 6px;
    border-radius: 6px;
    font-size: 1.25rem;
}

.quantity-section input {
    text-align: center;
    border: none;
    outline: none;
    color: inherit;
    font-size: 1.125rem;
    height: 100%;
    max-height: 2.5rem;
    padding: unset;
    line-height: 56px;
    width: 3rem;
    background: transparent;
    font-weight: 400;
}

.quantity-section input:focus {
    border: 1px dotted #9c9c9c;
}

.quantity-section .increament,
.quantity-section .decreament {
    margin-inline: 0.8rem;
    border: none;
    background-color: unset;
    cursor: pointer;
    font-size: inherit;
    color: inherit;
}

.btn-section {
    margin-top: 1.5rem;
}

.btn {
    border: none;
    background-color: var(--brand-color);
    color: #fff;
    padding: 1rem 2rem;
    max-width: 200px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid var(--brand-color);
    transition: all 0.25s ease-in;
}

.btn-section .btn+.btn {
    margin-left: 0.8rem;
}

.btn:hover {
    background-color: #fff;
    color: var(--brand-color);
}

/*------------ reviws section ------------*/

.reviews-section {
    margin-top: 3.75rem;
}

.reviews-container {
    max-width: 800px;
}

.reviews-container h2 {
    color: var(--brand-color);
    position: relative;
    width: max-content;
}

.reviews-container h2::after {
    content: " ";
    height: 2px;
    width: 100%;
    background-color: var(--brand-color);
    position: absolute;
    left: 0;
    bottom: -5px;
}

.reviews-container p {
    font-size: 1.125rem;
    margin: unset;
}

.reviews-container p+p {
    margin-top: 0.5rem;
}

p:has(.ratings) {
    font-size: 1rem;
}

.ratings {
    color: #f78686;
}

.ratings i {
    cursor: pointer;
    font-size: 1.5rem;
    fill: gold;
}

.reviews-container textarea {
    display: block;
    margin-block: 1rem;
    font-size: 1.125rem;
    padding: 0.4rem;
    outline: none;
    resize: both;
    width: 100%;
}