/* ----------------banner---------------- */

.banner-section {
    margin-top: 3rem;
}

.banner-container {
    display: flex;
    background-color: rgb(208, 210, 223);
    padding: 0 30px;
}

.banner-container>* {
    width: 100%;
}

.banner-container .banner-text {
    align-self: center;
    color: var(--secondary-color);
    padding: 2rem 0;
}

.banner-text h3 {
    background-color: var(--brand-color);
    display: inline-block;
    padding: 0.25rem;
    margin: unset;
    font-size: 11px;
    border-radius: 15px;
    text-transform: uppercase;
}

.banner-text p {
    font-size: 2.25rem;
    font-weight: 400;
    line-height: 1.5;
    margin: unset;
}

.banner-text h2 {
    font-size: 2.625rem;
    line-height: 1.5;
    margin: unset;
}

.banner-text span {
    margin-top: 1rem;
    display: block;
    font-size: 1.125rem;
    line-height: 1.5;
}

.banner-btn {
    margin-top: 1rem;
    display: inline-block;
    padding: 12px 24px;
    background-color: #0070DC;
    border-radius: 50px;
    color: #ffffff;
}

.banner-img-container {
    display: flex;
}


.banner-img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* ---------------main section--------------- */

/* ---------------brands section--------------*/
.brands-section {
    margin-top: 3rem;
}

.brands-section .brands-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 2rem;
}

.brand-img-container {
    margin-inline: 2.5rem;
    text-align: center;
}

/* -------------main section banner------------- */

.main-banner-section {
    margin-top: 3rem;
}

.main-banners-container {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.main-banner-img img {
    height: 100%;
    width: 100%;
}

/* ------------Explore Products------------ */

.explore-products {
    margin-top: 5rem;
}

.explore-products h1 {
    text-align: center;
    font-size: 2.25rem;
    font-weight: 600;
    color: var(--secondary-color);
    margin: 0 0 20px;
}

.cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 230px));
    column-gap: 2.5rem;
    justify-content: center;
    row-gap: 1.5rem;
}

.card {
    cursor: pointer;
    border-radius: 4px;
    padding: 0.5rem;
    text-align: center;
    transition: all 0.25s ease-out;
}

.card:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.card img {
    width: 100%;
}

.card-title {
    margin-block: 0.5rem;
}

.card-bottom {
    padding: 0.5rem 0;
    display: flex;
    gap: 0.5rem;
    justify-content: center;
}

.card-bottom>* {
    flex-shrink: 0;
}

.card-btn {
    padding: 9px 16px;
    background-color: unset;
    border-radius: 4px;
    border: 1px solid var(--brand-color);
    color: var(--brand-color);
    cursor: pointer;
    transition: var(--color-transtion);
    font-size: 13px;
}

.card-btn:hover {
    color: #20C9AE;
}

/* -------------accessories------------- */
.accessories {
    margin-top: 3rem;
}

.discount-banner {
    background-color: var(--brand-color);
    display: flex;
    align-items: center;
    padding: 30px;
    margin-block: 10px;
}

.discount-banner>h2 {
    margin-left: auto;
    font-size: 1rem;
    font-style: italic;
    text-decoration: underline;
    color: #0070DC;
    text-transform: uppercase;
}

.discount-banner-text>* {
    color: var(--secondary-color);
}

.discount-banner-text>p {
    font-size: 15px;
    font-weight: 600;
}

.discount-banner-text>span {
    font-size: 13px;
    font-weight: 300;
}

.discount-banner .banner-btn {
    align-self: baseline;
    margin-left: 2rem;
}

.accessories-container {
    padding-block: 10px;
    display: flex;
    row-gap: 10px;
}


.left-side-banner {
    padding: 30px;
    background: url("./assets/accerssies-banner.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #bebbbb;
}

.left-side-banner .banner-text>h3 {
    font-size: 13px;
}

.left-side-banner .banner-text>p {
    font-size: 2rem;
}

.left-side-banner .banner-text>h2 {
    font-size: 2.5rem;
}

.left-side-banner .banner-text>span {
    font-size: 15px;
}


.accessories-cards-container.cards-container {
    justify-content: space-evenly;
    flex-grow: 1;
    grid-template-columns: repeat(3, 230px);
    column-gap: 0.5rem;
}

.facilities-section {
    margin-top: 10px;
    background-color: #041E42;
    display: flex;
    align-items: center;
    padding: 10px;
}

.facilities-section>* {
    width: 100%;
}

.element-column {
    padding-block: 3rem;
    display: flex;
    gap: 0.5rem;
}

.element-icon {
    color: var(--brand-color);
}

.element-icon i {
    font-size: 2.875rem;
}

.element-column>div h3 {
    margin: unset;
    color: #ffffff;
}

.element-column>div p {
    margin: unset;
    color: #59A5C5;
}