@import url("../base/index.css");

@media (max-width: 1020px) {

    /* --------accessories section-------- */
    .accessories-container {
        flex-direction: column;
    }

    .left-side-banner {
        background-position: center;
    }

    .accessories-cards-container.cards-container {
        grid-template-columns: repeat(auto-fill, minmax(200px, 230px));
        justify-content: center;
    }
}

@media (max-width: 768px) {
    /* ------------ banner ----- */

    .banner-container {
        flex-direction: column;
    }

    /* ------------main banners section------------ */
    .main-banners-container {
        flex-direction: column;
        align-items: center;
    }

    /* ---------accessoriers--------- */

    .discount-banner {
        flex-direction: column;
    }

    .discount-banner-text {
        text-align: center;
    }

    .discount-banner>h2 {
        margin-left: unset;
    }

    .discount-banner .banner-btn {
        align-self: unset;
        margin-left: unset;
    }

    /*----------- accessories section -----------*/
    .facilities-section {
        flex-direction: column;
    }

    .element-column {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}