.cart-section {
    margin-top: 3rem;
}

.cart-top {
    text-align: center;
    margin-bottom: 2rem;
}

.cart-top>* {
    margin: unset;
}

.cart-top h1 {
    margin-bottom: 1rem;
    text-transform: capitalize
}

.cart-top {
    font-size: 1.125rem;
}

.cart-container {
    display: none;
    gap: 4.5rem;
}

.cart-container.active {
    display: flex;
}


.product-list {
    width: 70%;
}

.cart-product {
    position: relative;
    display: flex;
    background-color: #fff;
    padding: 1rem;
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
    gap: 1.5rem;
}

.cart-product+.cart-product {
    margin-top: 1rem;
}

.cart-product a {
    width: 40%;
    max-width: 200px;
    display: inline-flex;
}

.cart-product img {
    width: 100%;
    max-width: 150px;
    margin-block: auto;
    object-fit: contain;
}

.product-info {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    align-items: start;
    grid-area: 1.125rem;
}

.product-info h1 {
    font-size: 1.25rem;
    font-weight: 500;
    text-transform: capitalize;
    margin-top: unset;
}

.product-info p {
    font-size: 1.125rem;
}

.product-info .quantity {
    font-size: 1.125rem;
    position: relative;
}

.quantity.active-before::before {
    content: "Limit is 4";
    position: absolute;
    bottom: -42px;
    left: 50%;
    transform: translatex(-50%);
    background: #fff;
    color: black;
    border: 1px solid var(--brand-color);
    width: max-content;
    padding: 4px 6px;
    border-radius: 6px;
    font-size: 1.25rem;
}

.quantity input {
    outline: none;
    height: 2rem;
    text-align: center;
    background-color: #F5F5F5;
    border: 1px solid #9C9C9C;
}

.quantity input:focus {
    border-style: dotted;
}

.product-info button {
    cursor: pointer;
    border: none;
    background-color: #c80b0b;
    color: #fff;
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid #c80b0b;
    transition: all 0.25s ease-in;
}

.product-info button:hover {
    background-color: #9a0606;
}


.total-price-section {
    align-self: flex-start;
    padding: 30px;
    background-color: #F5F5F5;
    width: 30%;
}

.total-price-section h2 {
    text-align: center;
}

.subtotal,
.total {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    font-size: 1.125rem;
    margin-bottom: 1.25rem;
}

.subtotal>p,
.total>p {
    margin: unset;
}

.total-price-section a {
    text-align: center;
    border: none;
    background-color: var(--brand-color);
    color: #fff;
    padding: 0.5rem 0.1rem;
    display: block;
    width: 100%;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid var(--brand-color);
    transition: all 0.25s ease-in;
}

.total-price-section a:hover {
    background-color: #fff;
    color: var(--brand-color);
}

@media (max-width: 768px) {
    .cart-container {
        flex-direction: column;
    }

    .cart-container>* {
        width: 100%;
    }
}


@media (max-width: 500px) {
    .product-info {
        flex-direction: column;
    }

    .product-info button {
        margin-top: 1.5rem;
    }
}