@import url("./scroll-active.css");

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
    -webkit-tap-highlight-color: transparent;
}

a {
    text-decoration: none;
    color: unset;
}

ul {
    list-style: none;
    padding: unset;
    margin: unset;
}

body {
    --primary-color: #111;
    --brand-color: #FFBD27;
    --secondary-color: #021523;
    --color-transtion: color 0.25s ease-out;
    margin: 0;
    padding-top: 10rem;
    font-family: "Jost", sans-serif;
    letter-spacing: 0.5px;
}

.overlay {
    display: none;
    background-color: rgba(0, 0, 0, 0.2);
    position: fixed;
    inset: 0;
}

.overlay.active {
    display: unset;
}

.move-to-top {
    height: 2.7rem;
    width: 2.7rem;
    background-color: var(--brand-color);
    color: #ffffff;
    display: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 100%;
    position: fixed;
    bottom: 100px;
    right: 30px;
}

.move-to-top.active {
    display: flex;
}

/*--------------- header---------------------- */

.top-header {
    text-align: center;
    padding: 0 10px;
    background-color: var(--primary-color);
    color: #ffffff;
    position: relative;
    transition: all 0.3s linear;
}

.top-header p {
    margin: unset;
    line-height: 45px;
}

.navbar-container {
    padding-bottom: 0.8rem;
    position: fixed;
    width: 100%;
    z-index: 1;
    background-color: #ffffff;
    top: 0;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 2px 6px;
    transition: all 0.3s linear;
}

.main-header {
    padding-block: 12px;
}

.container {
    max-width: 1350px;
    padding: 0 10px;
    margin: 0 auto;
}

.main-header .main-header-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-container {
    min-width: 21%;
    padding-right: 15px;
}

.logo-container img {
    max-width: 250px;
}

.search-container {
    flex-grow: 2;
    display: flex;
    justify-content: center;
}

.search-container.responsive-search {
    margin: 0.5rem 0.5rem 0;
    display: none;
}

.search-container form {
    width: 100%;
    max-width: 790px;
}


form .input-container {
    display: flex;
    border: 1px solid #e7f5ff;
}

.input-container input {
    width: 100%;
    padding: 0.3rem 0.8rem;
    border: none;
    outline: none;
    font-size: 14px;
}

.input-container button {
    margin: 0.3rem;
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: var(--primary-color);
    padding: 0.3rem 0;
    cursor: pointer;
    border-radius: 4px;
}

.input-container button img {
    filter: invert(1);
    width: 1.75rem;
}

.icons-container {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.icons-container>* {
    border: none;
    font-size: 1.5rem;
    background-color: unset;
    cursor: pointer;
    transition: var(--color-transtion);
    padding: 1px 6px;
}

.icons-container>*:hover {
    color: var(--brand-color);
}

.icons-container .hamburgur-menu {
    display: none;
}

.navbar {
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-color: #EBEBEB;
}

body:has(.navbar.active) {
    overflow: hidden;
}

.close-menus {
    display: none;
}

.navbar nav {
    display: flex;
}

.category-menu {
    padding: 9px 16px;
    background-color: var(--brand-color);
    border-radius: 5px;
    color: #ffffff;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.category-hamburger-menu {
    display: inline-flex;
    flex-direction: column;
}

.category-hamburger-menu>* {
    margin: 2px;
    height: 2px;
    background-color: #ffffff;
}

.category-hamburger-menu .top {
    width: 26px;
}

.category-hamburger-menu .mid {
    width: 12px;
}

.category-hamburger-menu .bot {
    width: 18px;
}

.category-menu .cat-text {
    margin-left: 7px;
    font-size: 18px;
    line-height: 25px;
    font-weight: 500;
}

.responsive-menus {
    display: none;
}

.category-section {
    position: relative;
}

.category-list {
    border: 1px solid #f1f1f1;
    background-color: #ffffff;
    max-height: 0;
    position: absolute;
    top: 100%;
    width: 100%;
    overflow-y: scroll;
    transition: max-height 200ms ease-out;
}

.category-list.active {
    max-height: 500px;
}

.category-list::-webkit-scrollbar {
    width: 4px;
}

.category-list::-webkit-scrollbar-track {
    border-radius: 10px;
    background: #eeeeee;
}

.category-list::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #bebbbb
}

.category-list li a {
    display: inline-block;
    padding: 12px 16px;
    font-size: 13px;
    cursor: pointer;
    width: 100%;
    border-bottom: 1px solid #E3E3E3;
    text-transform: capitalize;
}


.category-list li:last-child a {
    border: none;
}

.nav-menus-section {
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.menus-container {
    margin: unset;
    display: flex;
}

.menus-container>* {
    flex-shrink: 0;
}

.menus-container li>a {
    padding: 0 0.75rem;
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
    color: var(--primary-color);
    transition: var(--color-transtion);
}

.menus-container li>a.active,
.menus-container li>a:hover {
    color: var(--brand-color);
}

/* ------------Explore Products------------ */

.explore-products {
    margin-top: 5rem;
}

.explore-products h1 {
    text-align: center;
    font-size: 2.25rem;
    font-weight: 600;
    color: var(--secondary-color);
    margin: 0 0 20px;
}

.cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 230px));
    column-gap: 2.5rem;
    justify-content: center;
    row-gap: 1.5rem;
}

.card {
    cursor: pointer;
    border-radius: 4px;
    padding: 0.5rem;
    text-align: center;
    transition: all 0.25s ease-out;
}

.card:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.card img {
    width: 100%;
}

.card-title {
    margin-block: 0.5rem;
}

.card-bottom {
    padding: 0.5rem 0;
    display: flex;
    gap: 0.5rem;
    justify-content: center;
}

.card-bottom>* {
    flex-shrink: 0;
}

.card-btn {
    padding: 9px 16px;
    background-color: unset;
    border-radius: 4px;
    border: 1px solid var(--brand-color);
    color: var(--brand-color);
    cursor: pointer;
    transition: var(--color-transtion);
    font-size: 13px;
}

.card-btn:hover {
    color: #20C9AE;
}

/*-------------------- login/register section --------------------*/

.auth-section {
    margin-top: 3rem;
    margin-bottom: 5rem;
}

.model {
    background-color: #ffffff;
    max-width: 500px;
    margin: 0 auto;
}

.model.register-model {
    max-width: 600px;
}

.model h1 {
    text-align: center;
    font-weight: 500;
    letter-spacing: 0.5px;
    margin-top: unset;
    margin-bottom: 2rem;
}

.model form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.form-input-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    width: 100%;
}

.form-input {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    font-size: 1.125rem;
}


.form-input input {
    border: 1px solid #ccc;
    outline: none;
    padding: 10px;
    font-size: 1rem;
    width: 100%;
}

form button {
    align-self: start;
    border: none;
    background-color: var(--brand-color);
    color: #fff;
    padding: 0.625rem 1.75rem;
    max-width: 200px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid var(--brand-color);
    transition: all 0.25s ease-in;
}

form button:hover {
    background-color: #fff;
    color: var(--brand-color);
}

.switch-model a {
    text-decoration: underline;
    color: blue;
    cursor: pointer;
}

/*------------------ footer section ------------------*/

.footer-section {
    margin-top: 2rem;
    background-color: #F7F8F9;
    border-top: 1px solid #EBEBEB;
    color: #1C1D1E;
}

.footer-items-container {
    display: flex;
    padding-block: 5.625rem;
    flex-wrap: wrap;
    row-gap: 2rem;
}

.footer-items-container>* {
    width: 25%;
    padding-inline: 1rem;
}

.footer-child>h4 {
    margin: unset;
    padding-bottom: 1rem;
    font-size: 1.125rem;
}

.footer-child p {
    margin: unset;
}

.footer-list li {
    cursor: pointer;
}

.footer-child p+p,
.footer-list li+li {
    margin-top: 0.5rem;
}

.footer-bottom {
    border-top: 1px solid #EBEBEB;
    text-align: center;
}

.footer-bottom p {
    margin: unset;
    padding: 0.75rem;
}




/*----------------- responsive styles -----------------*/

@media (max-width: 1020px) {

    body {
        padding-top: 6rem;
    }

    /*----------- navbar -----------*/
    .icons-container .hamburgur-menu {
        display: unset;
    }

    .navbar {
        height: 100vh;
        width: 50vw;
        max-width: 300px;
        width: 100%;
        background-color: #ffffff;
        position: fixed;
        top: 0;
        left: -100%;
        transition: left 500ms ease-out;
        padding-top: 2rem;
        box-shadow: 0 0 12px 0 rgba(0, 0, 0, .4);
    }

    .navbar.active {
        left: 0;
        padding: unset;
    }

    .navbar.active .container {
        padding: unset;
    }

    .navbar nav {
        flex-direction: column;
        align-items: start;
    }

    .menus-container {
        flex-direction: column;
    }

    .category-section,
    .nav-menus-section {
        width: 100%;
    }

    .category-menu {
        display: none;
    }


    .responsive-menus {
        width: 100%;
        display: flex;
        flex-direction: row-reverse;
        margin-bottom: 1rem;
    }

    .responsive-menus>* {
        width: 100%;
        padding: 9px 0;
        text-align: center;
        text-transform: uppercase;
        cursor: pointer;
        color: #333333;
        font-weight: 600;
        font-size: 15px;
        border-top: 1px solid #f1f1f1;
        background-color: #f4f7f9;
        transition: background-color 200ms ease-out;
    }

    .responsive-cat-btn.active,
    .responsive-menu-btn.active {
        background-color: #ffffff;
    }

    .category-list {
        border: none;
        max-height: unset;
    }

    .responsive-cat-list {
        overflow: unset;
        height: max-content;
        padding-inline: 1rem;
    }

    .responsive-menus-list {
        width: 100%;
        padding-inline: 1rem;
    }

    .responsive-cat-list li a,
    .responsive-menus-list li a {
        display: inline-block;
        padding: 12px 16px;
        font-size: 13px;
        cursor: pointer;
        width: 100%;
        border: unset;
    }

    .responsive-cat-list li a:hover,
    .responsive-menus-list li a:hover {
        color: var(--brand-color);
    }

    .responsive-cat-list,
    .responsive-menus-list {
        display: none;
    }

    .responsive-cat-list.active,
    .responsive-menus-list.active {
        display: unset;
    }

    .close-menus {
        display: block;
        background-color: var(--primary-color);
        color: #ffffff;
        margin: unset;
        position: relative;
        top: -0.1%;
        text-align: center;
        padding: 0.5rem 0;
        cursor: pointer;
        margin-bottom: 1rem;
    }

    .navbar-container {
        padding-bottom: unset;
    }
}

@media (max-width: 768px) {
    body {
        padding-top: 10rem;
    }

    /*----------- navbar -----------*/
    .search-container.desktop-search {
        display: none;
    }

    .search-container.responsive-search {
        display: flex;
    }

    .navbar-container.fixed .logo-container img {
        max-width: 100px;
    }

    .navbar-container.fixed .main-header {
        padding-block: 4px;
    }

    .main-header {
        padding-block: 4px;
    }

    /*-------------- footer section --------------*/

    .footer-items-container>* {
        width: 50%;
    }
}

@media (max-width: 500px) {

    body {
        padding-top: 6rem;
    }

    .top-header {
        display: none;
    }

    /*-------------- footer --------------*/
    .footer-items-container>* {
        width: 100%;
    }

    .footer-child {
        text-align: center;
    }
}