/*-------------------- login/register section --------------------*/

.auth-section {
    margin-top: 3rem;
    margin-bottom: 5rem;
}

.model {
    background-color: #ffffff;
    max-width: 500px;
    margin: 0 auto;
}

.model.register-model {
    max-width: 600px;
}

.model h1 {
    text-align: center;
    font-weight: 500;
    letter-spacing: 0.5px;
    margin-top: unset;
    margin-bottom: 2rem;
}

.model form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.form-input-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    width: 100%;
}

.form-input {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    font-size: 1.125rem;
}


.form-input input {
    border: 1px solid #ccc;
    outline: none;
    padding: 10px;
    font-size: 1rem;
    width: 100%;
}

form button {
    align-self: start;
    border: none;
    background-color: var(--brand-color);
    color: #fff;
    padding: 0.625rem 1.75rem;
    max-width: 200px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid var(--brand-color);
    transition: all 0.25s ease-in;
}

form button:hover {
    background-color: #fff;
    color: var(--brand-color);
}

.switch-model a {
    text-decoration: underline;
    color: blue;
    cursor: pointer;
}