.scroll-active .top-header {
    height: 0;
    overflow: hidden;
}

.scroll-active .icons-container .hamburgur-menu {
    display: unset;
}

.scroll-active .navbar {
    height: 100vh;
    width: 50vw;
    max-width: 300px;
    width: 100%;
    background-color: #ffffff;
    position: fixed;
    top: 0;
    left: -100%;
    transition: left 500ms ease-out;
    padding-top: 2rem;
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, .4);
}

.scroll-active .navbar.active {
    left: 0;
    padding: unset;
}

.scroll-active .navbar.active .container {
    padding: unset;
}

.scroll-active .navbar nav {
    flex-direction: column;
    align-items: start;
}

.scroll-active .menus-container {
    flex-direction: column;
}

.scroll-active .category-section,
.scroll-active .nav-menus-section {
    width: 100%;
}

.scroll-active .category-menu {
    display: none;
}

.scroll-active .responsive-menus {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 1rem;
}

.scroll-active .responsive-menus>* {
    width: 100%;
    padding: 9px 0;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    color: #333333;
    font-weight: 600;
    font-size: 15px;
    border-top: 1px solid #f1f1f1;
    background-color: #f4f7f9;
    transition: background-color 200ms ease-out;
}

.scroll-active .responsive-cat-btn.active,
.scroll-active .responsive-menu-btn.active {
    background-color: #ffffff;
}

.scroll-active .category-list {
    border: none;
    max-height: unset;
}

.scroll-active .responsive-cat-list {
    overflow: unset;
    height: max-content;
    padding-inline: 1rem;
}

.scroll-active .responsive-menus-list {
    width: 100%;
    padding-inline: 1rem;
}

.scroll-active .responsive-cat-list li a,
.scroll-active .responsive-menus-list li a {
    display: inline-block;
    padding: 12px 16px;
    font-size: 13px;
    cursor: pointer;
    width: 100%;
    border: unset;
}

.scroll-active .responsive-cat-list li a:hover,
.scroll-active .responsive-menus-list li a:hover {
    color: var(--brand-color);
}

.scroll-active .responsive-cat-list,
.scroll-active .responsive-menus-list {
    display: none;
}

.scroll-active .responsive-cat-list.active,
.scroll-active .responsive-menus-list.active {
    display: unset;
}

.scroll-active .close-menus {
    display: block;
    background-color: var(--primary-color);
    color: #ffffff;
    margin: unset;
    position: relative;
    top: -0.1%;
    text-align: center;
    padding: 0.5rem 0;
    cursor: pointer;
    margin-bottom: 1rem;
}

.scroll-active .navbar-container {
    padding-bottom: unset;
}

.scroll-active .responsive-search {
    display: none !important;
}